/* Base Styles */
body {
    background-color: var(--primary-bg-color);
    color: white;
}

.logo {
    width: 31px;
}

/* Hero Section */
#hero-section {
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/wr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: calc(100vh - 56px);
}

.hero-section__text-section h2 {
    color: var(--primary-accent-color);
    font-size: 1.5rem;
}

/* Stats Section */
#stats-section {
    background-color: var(--primary-accent-color);
    color: var(--primary-bg-color);
    padding: var(--section-padding) 0;
    text-align: center;
}

.stats-section__stat-icon {
    font-size: 25px;
}

.stats-section__stat-value {
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.stats-section__stat-label {
    font-weight: bold;
}

/* Video Section */

#video-section {
    padding: var(--section-padding);
    text-align: center;
}

.video-section__yt-embed {
    margin-bottom: 20px;
}

/* Coaching Section */
#coaching-section {
    background-color: var(--secondary-bg-color);
}

 #coaching-section, #training-section {
    padding: var(--section-padding);
    position: relative;
}

.coaching-section__description {
    margin-top: 20px;
    text-align: center;
}

.coaching-card {
    background: white;
    border-radius: 3px;
    color: var(--primary-bg-color);
    padding: 20px 10px;
    margin-top: 20px;
}

.coaching-card h2 {
    font-size: 20px;
    font-weight: bold;
}

.coaching-card--pro .coaching-card__price,
.coaching-card--pro ul li:before {
    color: #FF9900;
}

.coaching-card h3 {
    color: var(--primary-accent-color);
    text-align: center;
}

.coaching-card__price {
    font-size: 40px;
    font-weight: bold;
}

.coaching-card ul {
    margin-top: 20px;
}

.coaching-card .btn {
    border-color: var(--primary-bg-color);
}

.coaching-card__button-container {
    text-align: center;
}

.coaching-section__guarantee-section {
    text-align: center;
}

.coaching-section__guarantee-images {
    display: inline-block;
    position: relative;
}

.coaching-section__stamp {
    bottom: -20px;
    left: 20px;
    position: absolute;
    width: 100px;
}

.coaching-section__guarantee-description {
    margin-top: 20px;
}

.coaching-section__guarantee-description h4 {
    color: var(--primary-accent-color);
    font-size: 16px;
}

.coaching-section__row {
    position: relative;
}

.coaching-section__description {
    text-align: center;
}

.coaching-section__description h2 span {
    color: var(--primary-accent-color);
}

.ribbon {
    --f: 0em; /* control the folded part*/
    --r: .8em; /* control the ribbon shape */

    font-size: 18px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 20px;
    top: calc(-1*var(--f));
    padding: .2em;
    background: var(--primary-accent-color);
    border-left: var(--f) solid #0005;
    border-bottom: var(--r) solid #0000;
    clip-path: polygon(var(--f) 0,100% 0,100% 100%,calc(50% + var(--f)/2) calc(100% - var(--r)), var(--f) 100%,var(--f) var(--f),0 var(--f));
    width: 90px;
    height: 90px;
    text-align: center;
}

.immortal-card {
    margin-top: 20px;
    text-align: center;
}

.immortal-card .coaching-card__price,
.immortal-card ul li:before {
    color: var(--primary-accent-color);
}

.immortal-card ul {
    text-align: left;
}

#coaching-section ul,
#training-section ul {
    list-style: none;
}

#coaching-section ul li:before,
#training-section ul li:before {    
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-right: 10px;
}

/* Testimonial Section */
#testimonial-section {
    background-color: var(--secondary-bg-color);
    padding: var(--section-padding);
    text-align: center;
}

.carousel-card {
    color: var(--primary-bg-color);
    background-color: white;
    border-radius: 3px;
    margin: 0 40px;
    padding: 20px;
    text-align: left;
}

.carousel-control-prev,
.carousel-control-next {
    color: var(--primary-bg-color);
}

.carousel-card__title {
    font-size: 20px;
    font-weight: bold;
}

.carousel-card__subtitle {
    font-size: 14px;
}

.carousel-card__testimonial {
    margin-top: 20px;
}

.carousel-button {
    border: 3px solid white;
    border-radius: 50%;
    background-color: transparent;
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.carousel-button:hover {
    background-color: var(--primary-accent-color);
    transition: 0.2s ease;
}

/* FAQ Section */
#faq-section {
    padding: var(--section-padding);
}

#faq-section h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Footer */
#footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footer h2 {
    text-align: center;
}

.footer-icons a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.footer-icons a:hover {
    color: var(--primary-accent-color);
    transition: 0.2s ease;
}
